@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?17317491");
  src: url("../font/fontello.eot?17317491#iefix") format('embedded-opentype'), url("../font/fontello.woff?17317491") format('woff'), url("../font/fontello.ttf?17317491") format('truetype'), url("../font/fontello.svg?17317491#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?17317491#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-pinboard:before { content: '\6e'; } /* 'n' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-off:before { content: '\e071'; } /* '' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-arrows-cw:before { content: '\e760'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-bell:before { content: '🔔'; } /* '\1f514' */
.icon-link:before { content: '🔗'; } /* '\1f517' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */
.icon-clock:before { content: '🕔'; } /* '\1f554' */